 {{>partials/header}}
 {{#banner}}
 <section class="banner" style="background-image: url('images/{{background}}')">
        {{title}}</section>
    <h2>{{title}} para serem utilizadas</h2>
{{/banner}}
    <div class="container list">
        <div class="item">
            <img src="images/perplexity.jpeg" class="item--image" />
            <div class="item--name">Perplexity AI</div>
            <div class="item--descricao">Descrição: Criam textos, traduzem idiomas e respondem a perguntas.</div>
            <div class="item--tipo">Tipo: ChatBot</div>
        </div>
    {{>partials/footer}}